.shopcart .departure {
    position: relative;
    padding-left: 47px;
}
.shopcart .departure:before {
       position: absolute;
    top: 0px;
    left: 0;
    width: 40px;
    height: 40px;
    content: "\f07a";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 17px;
    border: 1px solid #ffffff12;
    border-radius: 50%;
    text-align: center;
    padding-top: 9px;
    box-sizing: border-box;
    color: #cdcdcd;
    background: #ffffff12;
}
.shopcart .departure a {
        display: block;
    text-align: left;
    color: #ccc;
    font-size: 14px;
}
.shopcart .departure a:first-child {
       font-family: Roboto;
    display: block;
    font-size: 15px;
    text-align: left;
    margin-bottom: 0px;
    color: #fff;
}

@media screen and (max-width:950px){
    .shopcart .departure {
        display: none;        
    }
}