#main_strengths{
	// width:100%

	margin-top: 11px;
}
#main_strengths li{
	    width: 155px;
    float: left;
    box-sizing: border-box;
    margin-right: 28px;
    font-size: 13px;
    font-family: Roboto;
}

#main_strengths li i {
	font-size: 16px;
    color: #20282b;
    border-radius: 50%;
    border: 1px solid #ccc;
    width: 36px;
    height: 36px;
    float: left;
    padding-top:8px;
    text-align: center;
    box-sizing: border-box;
    // margin-left:5px;
}
.text-icon{
	margin-left: 44px;
}

// @media screen and (max-width:1024px){
// 	#main_strengths li {
// 	    width: 157px;
// 	    box-sizing: border-box;
// 	    margin-left: 11px;
// 	}
// }
// @media screen and (max-width:768px){
// 	#main_strengths li {
// 	    width: 100%;
// 	    box-sizing: border-box;
// 	    margin-left: 0px;
// 	    padding:10px 0px;
// 	}
// }

 @media all and (max-width: 800px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
 	#main_strengths{
 		display:none;
 	}
 }