.problems_wrapper{
	background: url(../images/bg3.png) center center no-repeat #088ADA;
}
.problems_block	{
	    display: block;
    overflow: hidden;
    padding-bottom: 25px;
}
.problems_label{
	    color: #FFF;
    text-transform: uppercase;
    border-bottom: none;
    margin-bottom: 0px;
    font-size: 22px;
    padding-bottom: 20px;
    font-weight: 400;
    margin-top: 15px;
    text-align: center;
}
.problem_img{
        display: inline-block;
}
.problems_block ul{
       display: inline-block;
    margin-left: 39px;
    margin-top: 35px
}
.problems_block ul li{
    list-style: none;
    background: #FFF;
    color: #0682CD;
    padding: 3px 0px 3px 20px;
    margin-bottom: 20px;
    width: 376px;
    position: relative;
    transition: all .4s ease-in;
    border-radius: 4px 0 0 4px;
}
.problems_block ul li:hover{
    width: 600px;
    background: rgb(204, 4, 4);
}

.problems_block li:after {
 content: "";
    position: absolute;
    border-top: 23px solid transparent;
    border-bottom: 23px solid transparent;
    border-left: 23px solid #FFF;
    right: -23px;
    top: 0%;
    transition: all .4s ease-in;
}

.problems_block ul li h2{
        text-transform: uppercase;
    margin: 0;
    border-bottom: none;
    text-align: left;
    font-weight: 600;
    padding-bottom: 6px;
    font-size: 17px;
}
.problems_block ul li:hover h2{
   color: #FFF;
}
.problems_block ul li div{
          color: #0682CD;
    font-size: 19px;
    min-height: 40px;
    line-height: 40px;
}
.problems_block ul li:hover div{
        color: #FFF;
}
@media only screen  and (max-width: 870px){
    .problems_block li{
           margin-left: 0px !important; 
    }
}
@media only screen  and (max-width: 720px){
    .problems_block li:after {
        display: none;
    }
    .problems_block ul li {
       border-radius: 4px;
        width: 100%;
        box-sizing: border-box;
    }
    .problems_block ul li:hover {
        width: 100%;
        background: rgb(204, 4, 4);
    }
}