.center-1col{
   
}
.video_detail{
       background: #FFF;
    border: 1px solid #EFEFEF;
    padding: 17px;
    box-sizing: border-box;
    margin-bottom: 30px;
}
.content_title {
    color: #29AEE6;
    font-weight: normal;
    margin-bottom: 6px;
    font-size: 22px;
    padding-bottom: 6px;
    margin-top: 9px;
    line-height: 26px;
}
#one_video_play_area{
        width: 600px;
    margin: 0 auto;
    text-align: center;
    max-width: 100%;
}
.video_detail .related_title {
   color: #222222;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 18px;
    border-bottom: 1px solid #eee;
    padding-bottom: 9px;
    font-weight: normal;
    margin-top: 20px;
}
.video_detail .related_title > span {
      color: #29AEE6;
    border-bottom: 1px solid #29AEE6;
    text-transform: uppercase;
    font-size: 18px;
    padding-bottom: 9px;
    font-weight: 500;
    font-family: RobotoBold;
}
.video_item_inner_has_img {
   position: relative;
    overflow: hidden;
    max-height: 300px;
    cursor: pointer;
}
.video_item_inner_has_img::before {
    background: rgba(41, 33, 36, 0.2);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.video_item_inner_has_img img {
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    width: 100%;
    height: auto;
}
.video_item:hover img {
    moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}
.video_item_inner_has_img::after {
    content: "";
    display: block;
    height: 50px;
    left: 50%;
    left: calc(50%-25px);
    left: -webkit-calc(50%-25px);
    position: absolute;
    top: 50%;
    top: calc(50%-25px);
    top: -webkit-calc(50%-25px);
    width: 46px;
    background-repeat: no-repeat;
    content: "\f144";
    font-family: FontAwesome;
    color: #FFF;
    font-size: 70px;
    transform: translate(-24px, -24px);
}
.video_item:hover .video_item_inner_has_img::after {
    color: #29AEE6;
}
.hit_share{
        text-align: center;
    margin-top: 40px;
    padding-bottom: 40px;
}