.title_list_news{
	
    padding: 15px 0px 15px 43px;
    background: #f4f4f4;
    margin-top: 33px;
    font-size: 16px;
    font-size: 16px;
    font-family: RobotoBold;
    text-transform: uppercase;
    position: relative;
}
.title_list_news img {
    position: absolute;
    left: 11px;

}
ul li.item {
    padding: 10px;
    background: #f4f4f4;
    margin-top: 1;
}