.product {
   
}
.carousel-preview{
    text-align: center;
}
.img-carousel{
        margin: 0 0 30px;
    background: #FFF;
    border: 1px solid #EFEFEF;
    padding: 10px 5px;
    box-sizing: border-box;
    text-align: center;
}
.carousel-preview button{
    border: 1px solid #CCC;
    background: #FFF;
    padding: 2px;
    
}
#product_page{
        position: relative;
}
.product .detail_title {
    margin-bottom: 26px;
}

.product .detail_title h2{
	font-weight: normal;
}
.frame_center{
  float: left;
    width: 46.4%;
    box-sizing: border-box;
    padding: 0 20px;
}
.product .frame_left {
 	    float: left;
    margin: 0 0 30px;
    width: 35%;
    background: #FFF;
    border: 1px solid #EFEFEF;
    padding: 17px;
    box-sizing: border-box;
    text-align: center;
}
.product .frame_right .product_base {
    padding-left: 6px;
}

.product  h1 {
 	color: #333333;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 8px;
    font-family: RobotoBold;
}
.product  .item_code {
	border-bottom: 1px solid #F5F5F5;
    margin-bottom: 12px;
    margin-top: 0;
    padding-bottom: 10px;
}
.product .frame_right {
	    float: right;
    margin: 6px 0 30px;
    width: 18.6%;
 
}
.product .hit_share {
 	    margin-top: 15px;
}

.product .rate_panel {
    margin-bottom: 20px;
}
.product .summary{
   
}
.description{
	line-height: 26px;
}
.description p,.description ul li,.description div, .description h2, .description h3,.description h4{
	margin-bottom: 12px;
}
.product .summary .specification_sort {
    max-height: 91px;
    overflow: hidden;
}

.product .summary_action {
	margin-bottom: 26px;
}
.product .summary_action .expand_bt {
    color: #3D94D4;
}
.product .product_tags{
	margin-bottom: 26px;
    margin-top: 6px;
}
.product .product_tags label{
        position: relative;
    padding-left: 23px;
    margin-right: 9px;
    font-family: RobotoBold;
    font-weight: bold;
}
.product .product_tags label:before{
         position: absolute;
    content: "\f02c";
    font-family: FontAwesome;
    left: 0;
    font-size: 18px;
    top: -2px;
    color: #565656;
    border-radius: 5px 0 0 5px;
    font-weight: normal; 
}

.product .product_tags span a{
	    background: #EFEFEF;
    padding: 3px 5px;
    margin-right: 7px;
    margin-bottom: 5px;
    display: inline-block;
}

.product .color {
    display: none;
    margin-bottom: 10px;
}

.product .color li {
    float: left;
    width: 25%;
}
.product .color .code {
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    display: block;
    float: left;
    height: 15px;
    margin-right: 8px;
    width: 15px;
}
.product .product_base .price {
	border-top: 1px solid #dedddd;
    padding: 13px 0 5px;
    margin-top: 20px;
}
.product .product_base .price .price_old {
	color: #BEBEBE;
    font-size: 20px;
    font-weight: bold;
    line-height: 34px;
    text-decoration: line-through;
}
.product .product_base .price .price_current {
        overflow: hidden;
    font-size: 23px;
    font-weight: bold;
    font-style: italic;
    text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 3px 3px 5px #7b7b7b;
    color: #ED1C24;
}
.buy_area span{
   display: block;
    padding: 9px 0px 9px 10px;
    border-left: 1px solid #ffffff94;
    margin-left: 40px;
    text-align: left;
    font-family: Roboto;
    font-weight: bold;
}
.buy_area:hover a{        
    color: #FFF;    
}
.buy_area #buy-now {
  display: inline-block;
    width: 100%;
    max-width: 200px;
    color: #FFF;
    box-sizing: border-box;
    text-transform: uppercase;
    text-align: center;
    background: #FF3945;
    box-sizing: border-box;
    border-radius: 3px;
    color: #FFF !important;
    text-decoration: none !important;
    position: relative;
}
.buy_area #buy-now::before {
  position: absolute;
    content: "\f218";
    font-family: FontAwesome;
    left: 8px;
    font-size: 22px;
    top: 7px;
    color: #ffffff;
    font-weight: normal;
}
.buy_area  .btn-tragop{
    float: right;
    margin-right: 0;
    background: #222;
}
.buy_area  .btn-tragop::before {
        position: absolute;
    content: "\f155";
    font-family: FontAwesome;
    left: 0;
    font-size: 22px;
    top: 0px;
    color: #ffffff;
    background: #01B8E0;
    padding: 11px 12px 10px;
    border-radius: 5px 0 0 5px;
    font-weight: normal;
}
.buy_fast {
      background: #F29901;
    border-radius: 4px;
    margin-top: 13px;
    padding: 10px 20px 14px;
    text-align: center;
    color: #FFF;
}
.buy_fast label {
    display: block;
    text-transform: uppercase;
    margin-bottom: 1px;
    font-size: 16px;
}
.buy_fast  .sub_title {
    margin-top: 3px;
    margin-bottom: 10px;
}
#telephone_buy_fast {
    border: none;
    width: calc(100% - 64px);
    float: left;
    height: 32px;
    border-radius: 4px;
    padding-left: 10px;
    box-sizing: border-box;
}
.rate .rate_count{
       color: #ED1C24;
    margin: 0 19px 0 3px;
    font-weight: 500;
}
.button-buy-fast {
    background: #FFF;
    width: 54px;
    height: 32px;
    border: none;
    color: #F29901;
    text-transform: uppercase;
    border-radius: 4px;
    float: right;
    cursor: pointer;
}
.rate .write_comment{
	    background: url(../images/write_comment.png) no-repeat scroll left 0px transparent;
    color: #555555;
    padding-left: 21px;
}
.product .more {
    padding-top: 12px;
}

.product .more li,.product .summary p {
   margin-bottom: 12px;
    font-weight: 500;
    padding-left: 18px;
    position: relative;
    margin-top: 3px;
    font-size: 14px;
}
.product .more li:before,.product .summary p:before {
    position: absolute;
    content: "\f00c";
    font-family: FontAwesome;
    left: 0;
    font-size: 11px;
    top: 3px;
    color: #a5a5a5;
}
.product .more li span{
    font-weight: normal;
}

.product_detail_bt {
     padding: 10px 0 0px;
}

.product_detail_bt h3 {
    font-weight: normal;
    margin-bottom: 6px;
}

.product_detail_bt  .numbers-row {
   margin-bottom: 18px;
    overflow: hidden;
    width: 56px;
    height: 50px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    float: left;
    margin-right: 10px;
}
.numbers-row-l, .numbers-row-r{
       width: 50%;
    float: left;
    box-sizing: border-box;
}
.numbers-row-l{
	border-right: 1px solid #CCCCCC;
}
.product_detail_bt input[type="text"] {
        text-align: center;
    width: 100%;
    border: none;
    line-height: 50px;
}
.detail_button .button {
    color: #F29901;
    cursor: pointer;
    text-align: center;
    height: 31px;
    font-size: 13px;
    line-height: 28px;
    font-family: RobotoBold;
}
.detail_button  .numbers-row-r-t{
    border-bottom: 1px solid #CCC;
}
.hotline_detail{
        position: relative;
    margin-top: 10px;
    padding-left: 38px;
    line-height: 37px;
}
.hotline_detail::before {
      position: absolute;
    content: "\f095";
    font-family: FontAwesome;
    left: 0;
    font-size: 16px;
    top: 4px;
    color: #ffffff;
    background: #0183BF;
    padding: 11px 9px 11px;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    text-align: center;
    box-sizing: border-box;
    line-height: 7px;
}
.product .detail_button .buy-now > a {
	    background: #ED1C24;
    border-radius: 4px;
    color: #FFFFFF;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    text-transform: uppercase;
    text-align: center;
    font-size: 17px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
}
.product .detail_button .buy-now:hover > a {
    background: #C90008;
    -moz-transition: background-color 0.05s linear;
    -webkit-transition: background-color 0.05s linear;
    transition: background-color 0.05s linear;
}
.hotline_in_prd{
       background: url(../images/hot_line.png) no-repeat scroll 7px center transparent;
    padding-left: 69px;
    /* height: 44px; */
    /* line-height: 44px; */
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 20px;
    color: #444444;
}
.promotion_info{
	margin-top: 18px;
}
.promotion_info_label{
    color: #FF6000;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 2px;
    text-transform: uppercase;
}
.promotion_info_content{
	background: none repeat scroll 0 0 #FAFAFA;
    padding: 10px;
}

.rate i {
        font: normal normal normal 14px/1 FontAwesome;
}
.fa-star-o {
    color: #969696;
}
.fa-star:before {
    content: "\f005";
}
.fa-star-o:before {
    content: "\f006";
}
/**********************************/

/***************ACCESSORIES*******************/

.product .product_accessories_incentives {
    margin-bottom: 62px;
    position: relative;
}

.product .product_accessories_incentives .incentives_title {
    border-bottom: 4px solid #3D94D4;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 16px;
    padding-bottom: 3px;
}

.product .product_accessories_incentives .crsl-nav .previous {
    background: url("../images/ad_scroll_back.png") no-repeat scroll 0 0;
    height: 15px;
    left: 0;
    opacity: 0.7;
    overflow: hidden;
    position: absolute;
    text-decoration: none;
    text-indent: -9999px;
    top: 50%;
    width: 10px;
    z-index: 3;
}

.product .product_accessories_incentives .crsl-nav .next {
    background: url("../images/ad_scroll_forward.png") no-repeat scroll 0 0 ;
    height: 15px;
    opacity: 0.7;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-decoration: none;
    text-indent: -9999px;
    top:50%;
    width: 10px;
    z-index: 3;
}
/***************end.ACCESSORIES*******************/

/***************end comment*******************/
.products-list-related .product_grid .item {
    width: 50%;
    padding-top: 20px;
    margin-top: 0;
    margin-bottom: 0;
}
.products-list-related  .product_grid{
       border-color: #E7E7E7;
    border-style: solid;
    border-width: 2px 1px 1px 1px;
    border-radius: 4px;
    margin-top: -2px;
    overflow: hidden;
    background: #FFF;
}
.products-list-related  .product_grid .product_grid_inner{
	    margin-right: -2px;
}
.products-list-related  .relate_title{
	       background: #222;
    padding: 7px 24px;
    border-radius: 4px 4px 0 0;
    display: table;
    position: relative;
    color: #FFF;
    cursor: pointer;
}
.products-list-related  .relate_title:after {
        content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 6px 0 0;
    border-color: #0183BF transparent transparent transparent;
}


/*************** NEW RELATE *************/
.product .product_tabs .new_cat , .product .product_tabs .advice_cat{
}
.product .product_tabs .new_cat .item, .product .product_tabs .advice_cat .item {
    border-bottom: 1px solid #C3C3C3;
    margin-bottom: 20px;
    padding-bottom: 24px;
}
.product .product_tabs .new_cat .frame_img, .product .product_tabs .advice_cat .frame_img {
    float: left;
    width: 25%;
}

.product .product_tabs .new_cat .news-intro, .product .product_tabs .advice_cat .news-intro {
   
}

.product .product_tabs h2 {
    margin-bottom: 10px;
}

.product .product_tabs .new_cat h2 a, .product .product_tabs .advice_cat h2 a {
    font-size: 18px;
}
.product .product_tabs .item-date {
    display: none;
}

.product .product_tabs .new_cat .item-sum, .product .product_tabs .advice_cat .item-sum {
    height: 36px;
    margin-bottom: 8px;
    overflow: hidden;
}

.product .product_tabs .new_cat .view-detail, .product .product_tabs .advice_cat .view-detail {
    background: none repeat scroll 0 0 #1B72B9;
    display: inline;
    padding: 2px 10px;
}

.product .product_tabs .new_cat .view-detail a, .product .product_tabs .advice_cat .view-detail a {
    color: #FFFFFF;
}
.characteristic  table{
	width: 100%;
}
.characteristic table,.characteristic table th,.characteristic table td {
	border: 1px solid #CCC;
}
.characteristic  table td {
	    padding: 5px 10px;
}
.characteristic  table tr td:first-child {
    background-color: #fbfbfb;
    width: 30%;
    font-weight: 500;
}
.characteristic  table tr td:first-child {
    background-color: #fbfbfb;
    width: 30%;
    font-weight: 500;
}
/*****************************/
#smartTab {
    z-index: 1;
   /* max-width: 710px;*/
    width: 100%;
}
.product .product_tabs_ul {
  border-top: 2px solid #E0E0E0;
    background: #ffffff;
    border-radius: 2px;
    list-style: none;
    margin-bottom: 20px;
    padding: 0;
}
.product .product_tabs_ul li{
        float: left;
    
}
.product .product_tabs_ul a{
       display: inline-block;
    padding: 10px 18px 11px;
    white-space: nowrap;
    font-size: 16px;
    border-right: 1px solid #E7E7E7;
        border-top: transparent 2px solid;
    margin-top: -2px;
        -webkit-transition: 0.5s ease-in-out all;
    transition: 0.5s ease-in-out all;
}
.product .product_tabs_ul li.active a, .product .product_tabs_ul li:hover a{
   color: #0183BF;
    border-top: #0183BF 2px solid;
    margin-top: -2px;
   
    text-decoration: none;
}
.product .tab_label {
       font-size: 18px;
    font-weight: normal;
    border-bottom: 2px solid #0183BF;
    padding-bottom: 5px;
    margin-bottom: 20px;
    color: #0183BF;
    background: #fdfdfd;
    padding: 8px 15px;
    text-transform: uppercase;
    
}
.product .tab_label strong{
       font-weight: normal;
    color: #888;
}
.prodetails_tab{
    margin-bottom:20px; 
}
.tab_content_right_bg{
    background: #FFF;
    border: 1px solid #e8e8e8;
    padding: 10px;
    
}
.tab-title span:after{    
    position: absolute;
    top: 7px;
    left: 16px;
    z-index: 10;
    font-size: 22px;
    color: #FFF;
    margin-left: 0;
    margin-top: 0;
    position: absolute;
    font-family: FontAwesome;
    left: 19px;
    font-size: 16px;
    top: 9px;
    color: #FFF;
}
#spect_title span:after{
     content: "\f185";    
}
#prodetails_tab4 .tab-title span:after{
         content: "\f155";
    left: 24px;
    top: 8px;
}
#prodetails_tab5 .tab-title span:after{
     content: "\f260";
}
#prodetails_tab50 .tab-title span:after{
         content: "\f1ea";
    left: 13px;
    top: 10px;
}
#prodetails_tab3 .tab-title span:after{
     content: "\f27a";
}


.tab-title span {
   margin-left: 21px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: normal;
    margin-top: 10px;
    color: #FFF;
    font-family: Roboto;
}
/*************** end.NEW RELATE *************/

.download_file a{
    color: #ff6000;
    font-weight: bold;
    text-transform: uppercase;
}
.product_accessories_incentives .price_old{
	display: none;
}
.total_money_incentives{
	padding: 4px 11px;
    position: absolute;
    right: 0;
    top: -3px;
}
.total_money_incentives .label{
	font-size: 15px;
    font-weight: bold;
}
.total_money_incentives #total_money_incentives{
	color: #009066;
    font-size: 15px;
    margin-right: 10px;
}
.total_money_incentives #total_money_incentives_old{
	font-size: 14px;
    text-decoration: line-through;
    display: none;
}
.compare_box,.accessories_incentives{
       background: #FFF;
    border: 1px solid #DADADA;
    padding: 10px;
    margin-bottom: 15px;
}
.compare_box label ,.accessories_incentives label{
        display: block;
    border-bottom: double 3px #ececec;
    text-transform: uppercase;
    padding: 4px 0 12px 31px;
    margin-bottom: 11px;
    position: relative;
}
.compare_box label::before {
       position: absolute;
    content: "\f0c5";
    font-family: FontAwesome;
    left: 0;
    font-size: 20px;
    top: 3px;
    color: #777777;
    /* background: #AC0A08; */
    /* padding: 11px 9px 11px; */
    /* border-radius: 5px 0 0 5px; */
    font-weight: normal;

}

.accessories_incentives label::before{
        position: absolute;
    content: "\f085";
    font-family: FontAwesome;
    left: 0;
    font-size: 20px;
    top: 4px;
    color: #777777;
    /* background: #AC0A08; */
    /* padding: 11px 9px 11px; */
    /* border-radius: 5px 0 0 5px; */
    font-weight: normal;
}
.advantage_content .item img {
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
}
.accessories_incentives .item {
        margin-bottom: 10px;
    border-bottom: 1px solid #EEE;
    padding-bottom: 10px;
}
.accessories_incentives .item .img_a{
       float: left;
    margin-right: 11px;
}
.accessories_incentives .item .price {
    font-weight: normal;
    font-size: 14px;
    color: #FF3333;
}
.accessories_incentives .item h3 {
    font-weight: normal;
    margin-bottom: 2px;
    max-height: 41px;
    overflow: hidden;
}
#compare_name{
        margin-top: 14px;
    width: 100%;
    box-sizing: border-box;
    padding: 11px 5px;
    border: 1px solid #DADADA;
    font-size: 12px;
}
.product_tabs{
        
    margin-top: 50px;
}
#sticky_right{

}

.tab_title{
     background: #222;
    padding: 7px 20px;
    border-radius: 4px 4px 0 0;
    display: table;
    position: relative;
    margin-left: 0px;
    z-index: 10;
    min-width: 116px;
    text-align: center;
    webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;     
    
}

.tab-title span {
    margin-left: 31px;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: normal;
    margin-top: 10px;
    color: #FFF;
}

.default_news {
    border-color: #E7E7E7;
    border-style: solid;
    border-width: 2px 1px 1px 1px;
    border-radius: 4px;
    margin-top: -2px;
    overflow: hidden;
    background: #FFF;
}
.default_news_inner{
    display: flex;
    flex-wrap: wrap-reverse;
    -webkit-flex-wrap: wrap-reverse; 
}
.default_news_inner .item-related {
       float: left;
    width: 20%;
    padding: 10px;
    box-sizing: border-box;
    border-right: 1px solid #E7E7E7;
    border-bottom: 1px solid #E7E7E7;
    flex: 1;
}
.default_news_inner .item-related > a{
       text-align: center;
    overflow: hidden;
    display: block;
}
.default_news_inner .item-related img{
    width: 100%;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}
.default_news_inner .item-related:hover img{
       transform: scale(1.1);
    -webkit-transform: scale(1.1);
    opacity: 0.5;
}
.default_news_inner .item-related div{
      font-weight: normal;
    margin-top: 10px;
}


    .default_news_inner .item-related:last-child {
        display: none;
    } 

    .default_news_inner .item-related {
        width: 50%;
        flex: none;
    }

/******** end NEWS RELATE ********/

	.product .frame_left {
	    float: none;
	    width: 100%;
	}

	.product .frame_right {
	 	float: none;
	    width: 100%;
	}
	.product-tab-title{
		display: none;	
	}
	.tab_label,.tab_content_right{
		margin-left: 0;
	}
    .frame_center {
            width: 100%;
        padding: 20px 0 0 0px;
        float: none;
    }


    .buy_area a {
        display: block;
        width: 100%;       
    }
    .buy_area #buy-now {
        margin-bottom: 10px;        
    }
    

