.links_other{
	text-align: center;
    margin-bottom: 12px;
    margin-top: 8px;
}
.products_horizoltal_content .readmore{
    font-style: italic;
    text-align: center;
}
.products_horizoltal_content .note{
   font-style: italic;
    text-align: center;
    margin-top: 16px;
}
.products_horizoltal_content .note span{
    font-weight: bold;
}
.products_horizoltal_content .readmore a {
    padding: 9px 42px;
    color: #FFF;
    font-size: 16px;
    background: #0187CF;
    margin-top: 10px;
    display: inline-block;
    border-radius: 4px;
    font-style: normal;
        transition: all .6s ease 0s;
    -webkit-transition: all .6s ease 0s;
}
.products_horizoltal_content .readmore a:hover {
    
    background: #F79606;
   
}
